html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header,
.main,
.footer {
  margin: 0 auto;
  max-width: 1024px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(222, 222, 222);
  padding: 20px;
}

.header__phone-phone,
.footer__links-git {
  text-decoration: none;
  color: #000
}

.header__phone-phone:hover,
.footer__links-git:hover {
  color: rgb(93, 93, 93);
}


.main {
  padding: 80px 20px;
  background-color: rgb(244, 244, 244);
}